@import url('https://fonts.googleapis.com/css?family=Open+Sans?family=Montserrat:500,700,700italic?family=Itim?family=Patrick+Hand+SC&display=swap');

@font-face {
    font-family: 'hunters';
    src: url("assets/fonts/Hunters.otf");
}

:root {
    --dark-mode-background-color: #1a1a1a;
    --dark-mode-text-color: #fff;
    --dark-mode-border-color: #1a1a1a;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.darkmode {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);
}

li,
.navlink a,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 160px;
}

/* ul.nav_links{
    background-color: transparent;
} */
li {
    display: inline-block;
    margin-right: 20px;
}

nav {
    background-color: transparent;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    padding: 0;
    margin: 0;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    padding: 0;
    margin: 0;
}

.nav_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    padding: 0;
    margin: 0;
}

.logo {
    cursor: pointer;
    background-color: transparent;
    margin-right: auto;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #ff0404;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

a {
    font-weight: bold;
    color: #ff0404;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #C24C7E;
}

button {
    padding: 9px 25px;
    margin-left: 6px;
    background-color: #ff0404;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* .header button:hover {
    background-color: #ff0000;
    color: #edf0ed;
} */

.git-btn:hover {
    color: #292929;
    background-color: rgb(255, 255, 255);
    border: 2px solid #292929;
}

.git-btn {
    color: #ffffff;
    background-color: #161B22;
}

.bmc-btn {
    font-weight: bold;
    color: #222222;
    background-color: rgb(255, 221, 0);
}

.bmc-btn:hover {
    color: rgb(255, 221, 0);
    background-color: #ffffff;
    border: 2px solid rgb(255, 221, 0);
}

.theme-change {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    gap: 0;
    margin-left: 0;
}

.theme-btn-sun {
    background-color: #ff0404;
    margin-right: 0;
    border-radius: 50px 0 0 50px;
}

.theme-btn-moon {
    background-color: #292929;
    margin-left: 0;
    border-radius: 0 50px 50px 0;
}

.theme-btn-moon:hover {
    background-color: #ff0000;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

p {
    color: rgb(36, 36, 36);

}

.home-section {
    padding: 10px 160px 0px 160px;
}

.home-section .container1 {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-section img {
    width: 45%;
    height: auto;
}

.home-section .container1 p {
    font-family: Open Sans, sans-serif;
    padding-top: 0;
    line-height: 1.59;
    font-size: 1.49vw;
}

.slogan {
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    font-weight: bold;
    color: #ff0404;
    text-align: center;
    padding-bottom: 5px;
}

/*centering arrow icon*/
.arrrow-down {
    left: 50%;
    right: 50%;
    margin-bottom: 5%;
    font-size: 2em;
    color: #ff0404;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.arr-child {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-45%, -45%);
}

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.arrrow-down:hover {
    animation: bounce 1s;
}

.heading-text {
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #ff0404;
    text-align: center;
    padding: 40px 160px 0px 130px;
    /* margin-top: 190px; */

}

.heading-text h1 {
    border-radius: 11px;
    color: #000000;
    border: 2px solid #ff0404;
    margin-bottom: 20px;
    background-color: #ff040400;
    padding: 10px 160px 10px 160px;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.card-section {
    display: flex;
    flex-direction: row;
    gap: 14.4%;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 10px 190px 0px 160px;
}

.carrd {
    width: 23.33%;
    margin-bottom: 13%;
    border-radius: 11px;
    border: 2px solid #ff0404;
    background-color: #00000000;
    text-align: center;
    padding: 20px;
}

.carrd button {
    color: #000000;
}

.carrd button:hover {
    color: white;
    background-color: #ff0404;
}

.card-content img {
    width: 9.375rem;
    height: auto;
    padding: 33px;
    background-color: #e8b7ff00;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);

}

.goto-btn {
    text-align: center;
    background-color: #ff040400;
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    padding: 9px 25px;
    margin: 0 0 0px 0;
    border-radius: 10px;
    border: 2px solid #ff0404;
    width: 100%;
}

.lofi-card img {
    height: auto;
    isolation: absolute;
    background-color: #e8b7ff00;
    color: rgba(255, 255, 255, 0);
}

.tools-card img {
    height: auto;
    background-color: #e8b7ff00;
}

.cheatsheet-card img {
    height: auto;
    background-color: #e8b7ff00;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px 10px 140px;
    gap: 20px;
    font-family: 'Patrick Hand SC', cursive, sans-serif;
}

.footer-content .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Responive screen styles */
/* For Desktop View */
@media screen and (min-width: 1024px) {}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* End For Tablet View */
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

}

/* End For Mobile Portrait View */
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* EndFor Mobile Landscape View */
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #a1a1a100;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo {
        margin-right: 0;
    }

    .nav-btn {
        font-size: 8px;
        background-color: #00000000;
      
    }
     .cta{
        gap: 10px;
     }
    .git-btn {
        margin: 0;
        border: 0px solid #000000;
        border-radius: 25px 0px 0px 25px;
        padding:  10px 20px 10px 20px;
    }
    .theme-btn-moon{
        padding: 10px 20px 10px 20px;
    }
    .theme-btn-sun{
        padding:10px 20px 10px 20px;
    }
    .theme-change{
        margin-left: 45px;
    }
    .bmc-btn{
        margin: 0;
        border: 0px solid #000000;
        border-radius: 0px 25px 25px 0px;
        padding: 9px 18px 9px 18px;
    }

    .nav_link ul {
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        font-size: 13px;
        margin-right: 0px;
        border: 0px solid #ff0000;
    }

    .nav_link ul {
        padding-inline-start: 0px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        background-color: rgba(0, 0, 0, 0);

    }

    .home-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 45px 0 45px;
        flex-wrap: wrap;
    }

    .container1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px;
        flex-wrap: wrap;
    }

    .home-section .container1 p {
        font-family: Open Sans, sans-serif;
        padding-top: 0;
        line-height: 1.59;
        font-size: 5vw;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .slogan {
        font-family: 'Patrick Hand SC', cursive, sans-serif;
        font-weight: bold;
        color: #ff0404;
        text-align: center;
        padding-bottom: 5px;
    }

    .home-section img {
        width: 100%;
        height: auto;
        margin-top: -30%;
    }
    .arrrow-down{
        width: 100%;
        height: auto;
        margin-top: -10%;
        position: obsolute;
    }
    .heading-text {
        font-family: 'Patrick Hand SC', cursive, sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #ff0404;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 100px 10px 0px 10px;
        /* margin-top: 190px; */
    }
    .heading-text h1 {
        font-family: 'Patrick Hand SC', cursive, sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        color: #ff0404;
        width: 80%;
        padding: 10px 10px 10px 10px;
        margin: 100px 10px 10px 10px;
    }
    .card-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        padding: 0px 10px 0px 10px;
    }
    .carrd {
        width: 80%;
        margin-bottom: 13%;
        border-radius: 11px;
        border: 2px solid #ff0404;
        background-color: #00000000;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 10px;
        gap: 10px;
        font-family: 'Patrick Hand SC', cursive, sans-serif;
        font-size: 1rem;
    }
    .footer-content .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 70px;
        margin-bottom: 10px;
    }
}


/* End For Mobile Phones Portrait or Landscape View */
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* End For iPhone 4 Portrait or Landscape View */
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* End For iPhone 5 Portrait or Landscape View */
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}

/* End For iPhone 6 and 6 plus Portrait or Landscape View */